.homepage{
    .homepage-carousel{
        box-shadow: 2px 3px 2px #faecec;
        padding-left: 48px;
        .carousel-banners{
              margin-top: 10rem;
            .grid-banners{
                flex-wrap: wrap;
                img.banners {
                    width: 368px;
                    padding: 5px;
                    margin-left: 9px;
                    margin-top: 1rem;
                }
                .bannersB{
                    padding: 10px;
                    margin-left: 9px;
                    margin-top: 1rem;
                }
            }
            .featured-products {
                text-align: center;
                border: 1px solid #dee2e6;
                padding:10px;
                font-size: 1.4rem;
                font-family: united,fantasy;
            }
            .Product-Banners{
                flex-wrap: wrap;
                .product-A{
                    padding-left: 9px!important;
                    .product{
                        width: 368px;
                        padding: 5px;
                        margin-top: 1rem;
                    }
                    .price-button{
                        width: 368px;
                        background-color: #70a401;
                        border:1px solid  #70a401;
                        color: white;
                        font-family: united,fantasy;
                        font-size: 16px;
                        padding:10px;
                    }
                    .price-button:hover {
                        background-color: #567e01;
                    }
                    p{
                        width:257px;
                        font-size: 12px;
                    }
                }
            }
                    .featured-products{
                        h2{
                            color:rgb(80, 78, 78);
                        }
                    }
        }
    }
}