.header-main{
    top: 0;
    display: none;
    background-color: white;
    position: fixed;
    z-index: 4444;
    display:block;
}
.header-mobile-view{
    display: none;
}
.header {
    padding:0;
    .header-desktop-version {
        .header-content {
            .signup-options ul {
                list-style: none;
                li {
                    float: right;
                    a {
                        padding: 8px;
                        color: #da291c;
                        font-size: 14px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
                .register:after {
                    content: "|";
                    color: #da291c;
                }
                .login:after {
                    content: "|";
                    color: #da291c;
                }
            }
        }
    }
    .nav-bar-content {
        box-shadow: 2px 3px 2px #faecec;
        padding: 10px 0px 21px 0px;
        border-top: 1px solid #dee2e6;
        li:hover  {background-color: #da291c!important; color:white!important;}
        li a:hover  { color:white!important;}
        ul:hover {
            width: 700px;
          }
        ul {
            list-style-type: none;
            width: 900px;
            height: 2px;
            background: red;
            transition: width 2s;
            padding: 0;

            li {
                cursor: pointer;
                display: inline;
                padding: 5px;
                font-size: 16px;
                font-family: united,fantasy;
                list-style-position: inside;
                color:rgb(80, 78, 78);
                border-right: 1px solid #dee2e6;
                .dropdown{
                    position: relative;
                    display: inline-block;
                    .dropbtn {
                        border: none!important;
                        margin-top: 5px;
                        color:rgb(80, 78, 78);
                      }
                      .dropdown-content {
                          margin-top: 2px;
                        display: none;
                        position: absolute;
                        background-color: black;
                        min-width: 160px;
                        z-index: 444;
                        margin-left: -4px;
                         a {
                            color:rgb(231, 223, 223);
                            padding: 12px 16px;
                            font-family: united,fantasy;
                            display: block;
                            font-size: 14px;
                          }
                      }
                }

            }
        }
    }
}
.dropdown-content a:hover {background-color:rgb(102, 97, 97)!important; color:white!important;}
.dropdown:hover .dropdown-content {display: block!important;}
.dropdown .dropbtn:hover {background-color:  #da291c!important; color:white!important;}
i.fa.fa-angle-down {
    padding-left: 4px;
}
// #SIDENAV CSS
.side-nav {
    h2 {
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: #000000;
        width: 80%;
        border-bottom: 1px solid #ccc;
        line-height: 0.01em;
        margin: 19px 0 20px;
    }
    h2 span {
        background: #fff;
    }
    p {
        padding: 1.25rem;
        font-size: 13.5px;
    }
}


                                            // MOBILE VIEW


  /* Mobile Side bar */
.brand-button{
    font-size: 3rem;
    padding:.5 rem;
    background:none;
    border:none;
    color:#da291c;
    cursor: pointer;
  }
  .sidebar{
    overflow: scroll;
    position: absolute;
    z-index: 444;
    width:30rem;
    transition: all .5s;
    transform: translateX(-30rem);
    background-color: #f0f0f0;
    height: 100%;
    .close-button{
        border-bottom: 1px solid black!important;
        margin-top: 5rem;
    }
    .sidebar-options{
        ul{
            padding: 0;
           li{
            color:black;
            font-size: 14px;
            padding:8px;
            list-style-type: none;
            font-weight: 600;
            a{
                color: black;
                padding-left: 10px;
            }
           }
        }
    }
            .signup-options{
               background-color:  rgb(68, 68, 68);
              ul{
                  li{
                    color:white;
                  }
              }
            }
  }
  .sidebar.open{
    transform: translateX(0);
    height:100%;
    position: absolute;
    z-index: 444;
  }
  .sidebar-close-button{
    font-weight: bold;
    border: none!important;
    padding: .5rem;
    font-size: 3rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 0;
  }
//   ICONS
.header-mobile-view{
    .header-content{
        width: 100%;
        margin:0;
        .logo{
            .logo-img{
                width:140px;
            }
        }
        .cart-icon.col-3 {
            color:#da291c;
            font-size: 20px;
            padding-top: 4px;
            i.fa.fa-shopping-basket {
                padding-left: 6px;
                span{
                    background: #da291c;
                     font-size: .9rem;
                    color: #fff;
                    width: auto;
                    height: auto;
                    margin: 0;
                    border-radius: 50%;
                    position: absolute;
                    top: -1px;
                    right: 20px;
                    padding: 6px!important;
                    font-weight: 400;
                    line-height: .7;
                }
            }
        }
    }
}

// usna

i.fa.fa-plus {
    float: right;
}
i.fa.fa-minus {
    float: right;
}
i.fa.fa-user {
    margin: 4px;
}

